@charset "UTF-8";
* {
position: relative;
font-family: 微軟正黑體;
}

html, body {
margin: 0;
}

.header {
text-align: center;
background: #27232F;
height: 200px;
}
.header .logo {
margin-top: 70px;
width: 200px;
margin-left: 20 px;
}

.max_width {
max-width: 800px;
margin-right: auto;
margin-left: auto;
}

.content p {
letter-spacing: 2px;
line-height: 20px;
}